@charset "UTF-8";

/* basic */
html, body,div, span,dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6,blockquote, p, address, pre, cite,form, fieldset, input, textarea, select,table, th, td {margin:0;	padding:0;	vertical-align:middle;	font: normal 10pt Arial, sans-serif ;	color:#7a7a7a;}
ul,li{list-style:none;}
*, *:before, *:after {margin:0;padding:0; box-sizing:border-box;}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {display: block;}

/* layout */
body{background:#ececec;}
div.wrap{min-width:320px;background:white;}
div.header{text-align:center;height:90px;	background:url(../images/bg_rx.png) repeat-x bottom center;}
div.socialArea{padding:10px 10px 0 10px;}
div.contents{padding: 0 10px 0 10px;}
div.btnArea{padding:0 10px 5px 10px;}
div.botLogo{padding-top:20px;text-align:center;border-bottom:1px solid #ececec;}

/* header */
.header img{margin-top:10px;height:70px}

/* socialArea in main.css */

/* contents */
ul li:first-child{padding-top:5px;}
ul li{padding-bottom:10px;}
ul li input{border-radius: 5px; width:49.59%;height:30px;border:1px solid #d6d6d6;background:#f5fda2;}
li input:nth-child(2){float:right}
div.contents input[type=text]{padding-left:3px;}
div.contents select{border:1px solid #d6d6d6; border-radius: 5px; width:49.5%;height:30px;background:#f5fda2;}

/* btnArea */
input.btn {
  border-width: 1px;
  border-color: rgb(1, 133, 191);
  border-style: solid;
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(48,171,225) 0%, rgb(72,193,245) 95%, rgb(131,211,246) 96%);
  background-image: -webkit-linear-gradient( 90deg, rgb(48,171,225) 0%, rgb(72,193,245) 95%, rgb(131,211,246) 96%);
  background-image: -ms-linear-gradient( 90deg, rgb(48,171,225) 0%, rgb(72,193,245) 95%, rgb(131,211,246) 96%);
  width: 100%;
  height: 35px;
	color:white;font-weight:bold;
}
input.btn:hover,input.btn:active{color:black;}

/* copyright */
p.copyright{text-align:center;height:20px;line-height:20px;letter-spacing: -1px;}
.copyright a{color:#007bff;text-decoration:none;vertical-align:top;}

/* botLogo */
div.botLogo img{vertical-align:bottom;}